@font-face {
	font-family: 'FuturaPTWebCondMedium';
	src: 
		url('futura-PT_Cond-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebBook';
	src: 
		url('futura-PT_Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FuturaPTWebBold';
	src: 
		url('futura-PT_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPTWebLight';
	src: 
		url('futura-PT_Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}